.activity .banner{
	background: url('images/banner/banner00.jpg');
	margin-bottom: 20px;
}
.activity .activities-list{
	margin: auto;
	width: 80%;
}
.activity .activities-left{
	position: relative;
	margin-bottom: 80px;
	width: 100%;
}
.activity .activities-left img{
	width: 40%;
	height: 350px;
}
.activity .activities-list .activities-left .activities-infor{
	position: absolute;
	border: 1px solid black;
	top: 25px;
	left: 35%;
	width: 65%;
	padding: 50px 5% 50px 10%;
	height: 350px;
}
.activity .activities-list .activities-left .activities-infor .activities-description{
	text-align: left;
	word-wrap: break-word;
}
.activity hr{
	width: 50%;
	height: 4px;
	color: black;
}

.activity .activities-right{
	position: relative;
	margin-bottom: 40px;
	width: 100%;
}
.activity .activities-right img{
	width: 40%;
	height: 350px;
	position: absolute;
	bottom: 25px;
	right: 0;
	z-index: -1;
}
.activity .activities-list .activities-right .activities-infor{
	border: 1px solid black;
	width: 65%;
	padding: 50px 10% 50px 5%;
	height: 350px;
}
.activity .activities-list .activities-right .activities-infor .activities-description{
	text-align: left;
	word-wrap: break-word;
}
.activity .activities-list .activities-infor .activities-continue i{
	transform: scale(1, 0.7);
	margin-left: 0px;
	font-weight: normal;
}
.activity .activities-list .activities-infor .activities-continue:hover{
	color: white;
	animation: changecolor 0.5s linear 1;
	
}
.activity .activities-list .activities-infor .activities-continue:hover i{
	margin-left: 10px;
	animation: goright 0.5s linear 1;

}
@keyframes goright{
	0%{
		margin-left: 0px;	
	}
	100%{
		margin-left: 10px;
	}
}
@keyframes changecolor{
	0%{
		color:black;	
	}
	100%{
		color: white;
	}
}