.activity .slogan{
	height: 50%;
	position: relative;
}
.activity .slogan .overlay{
	z-index: 1;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: auto;
	opacity: 1;
}
.activity .slogan .overlay .text{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 482%;
	padding: 10px 20px;
	color: black;
	font-family: 'Playfair Display', Arial, sans-serif;

}
.activity .slogan .overlay .text::before{
	position: absolute;
    content: ""; 
    left: 2px; 
    top: 0; 
    bottom: auto; 
    right: 2px; 
    border-width: 9px 9px 0;
    border: 4px solid black;
    padding: 19px; 
    border-bottom: none;
}
.activity .slogan .overlay .text::after{
	position: absolute;
    content: ""; 
    left: 2px; 
    top: auto; 
    bottom: 0; 
    right: 2px; 
    border-width: 9px 9px 0;
    border: 4px solid black;
    padding: 19px; 
    border-top: none;
}

.activity .slogan img{
	display: block;
	width: 100%;
	height: 50%;
	transition: 1s ease;
}
.activity .activities-list{
	margin: 50px auto;
	width: 80%;
}
.activity .activities-left{
	position: relative;
	margin-bottom: 80px;
	width: 100%;
}
.activity .activities-left img{
	width: 40%;
	height: 350px;
}
.activity .activities-list .activities-left .activities-infor{
	position: absolute;
	border: 3px solid #eac17c;
	top: 25px;
	left: 35%;
	width: 65%;
	padding: 50px 5% 50px 10%;
	height: 350px;
}
.activity .activities-list .activities-infor .activities-name{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}
.activity .activities-list .activities-left .activities-infor .activities-description{
	text-align: left;
	word-wrap: break-word;
}
.activity hr{
	width: 50%;
	height: 4px;
	color: black;
}

.activity .activities-right{
	position: relative;
	margin-bottom: 40px;
	width: 100%;
}
.activity .activities-right img{
	width: 40%;
	height: 350px;
	position: absolute;
	bottom: 25px;
	right: 0;
	z-index: -1;
}
.activity .activities-list .activities-right .activities-infor{
	border: 3px solid #eac17c;
	width: 65%;
	padding: 50px 10% 50px 5%;
	height: 350px;
}
.activity .activities-list .activities-right .activities-infor .activities-description{
	text-align: left;
	word-wrap: break-word;
}
.activity .activities-list .activities-infor .activities-continue i{
	transform: scale(1, 0.7);
	margin-left: 0px;
	font-weight: normal;
}
.activity .activities-list .activities-infor .activities-continue:hover{
	color: white;
	animation: changecolor 0.5s linear 1;
	
}
.activity .activities-list .activities-infor .activities-continue:hover i{
	margin-left: 10px;
	animation: goright 0.5s linear 1;

}
@media only screen and (max-width: 750px) {
	.activity .activities-list .activities-left .activities-infor{
		position: static;
		width: 100%;
		height: auto;
	}
	.activity .activities-left img{
		width: 100%;
		height: auto;
	}
	.activity .activities-list .activities-right .activities-infor{
		width: 100%;
		height: auto;
	}
	.activity .activities-right, .activity .activities-left{
		margin-bottom: 30px;
	}
	.activity .activities-right img{
		position: static;
		width: 100%;
		height: auto;
	}
}