<link rel="stylesheet" href="checkout.css">
<link rel="stylesheet" href="checkout_popup.css">
<div class="checkout">
    <h3>item</h3>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in cart">
                    <td>{{$index + 1}}</td>
                    <td>{{product.translation[language].name}}</td>
                    <td>
                        <i class="fa fa-minus" aria-hidden="true" ng-click="updateCart(product,false)"></i>
                        {{product.quantity}}
                        <i class="fa fa-plus" aria-hidden="true" ng-click="updateCart(product,true)"></i>
                    </td>
                    <td>${{product.price}}</td>
                    <td>${{product.price * product.quantity}}</td>
                </tr>
            </tbody>
        </table>
        <div class="checkoutinfor {{totalAmount > 0 ? 'show' : 'unshow'}}">
            <div ng-click="showCheckout_popup()">checkout</div>
            Total: {{totalAmount}}
        </div>
    </div>
</div>
<div class="checkout_popup-container {{checkout_popup ? 'show' : 'unshow'}}">
    <div class="checkout_popup ">
        <div class="{{loader ? 'unshow' : 'show'}}">
            Total amount: {{totalAmount}}
            <img src="images/checkout/master.jpg" alt="" ng-click="shownLoader()">
            <img src="images/checkout/visa.jpg" alt="">
            <img src="images/checkout/paypal.jpg" alt="">
        </div>
        <div class="loader {{loader ? 'show' : 'unshow'}}"></div>
    </div>
</div>