<link rel="stylesheet" href="checkout.css">
<link rel="stylesheet" href="checkout_popup.css">
<div class="checkout">
    <center>Check out</center>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in cart">
                    <td>{{$index + 1}}</td>
                    <td>{{product.translation[language].name}}</td>
                    <td>
                        <i class="fa fa-minus" aria-hidden="true" ng-click="updateCart(product,false)"></i>
                        {{product.quantity}}
                        <i class="fa fa-plus" aria-hidden="true" ng-click="updateCart(product,true)"></i>
                    </td>
                    <td>${{product.price}}</td>
                    <td>${{product.price * product.quantity}}</td>
                </tr>
            </tbody>
        </table>
        <div class="checkoutinfor {{totalAmount > 0 ? 'show' : 'unshow'}}">
            <div class="amount">Total: ${{totalAmount}}</div>
            <span ng-click="showCheckout_popup()" class="checkoutbtn">Checkout</span>
            <span ng-click="removeall()" class="removeall">Remove All</span>
        </div>
    </div>
</div>
<div class="checkout_popup-container {{checkout_popup ? 'show' : 'unshow'}}">
    <div class="checkout_popup">
        <i class="fa fa-times {{loader ? 'unshow' : 'show'}}" aria-hidden="true" ng-click="showCheckout_popup()"></i>
        <div class="{{loader ? 'unshow' : 'show'}} loader-container">
            <div class="title">Payment Details</div>
            <div class="amount"></div>
            <input type="text" placeholder="Your Name...">
            <br>
            <input type="text" placeholder="Your Phone...">
            <div>Payment Method</div>
            <div class="paymentmethod">
                <img src="images/checkout/master.jpg" alt="" ng-click="shownLoader()">
                <img src="images/checkout/visa.png" alt="" ng-click="shownLoader()">
                <img src="images/checkout/paypal.png" alt="" ng-click="shownLoader()">
            </div>
        </div>
        <div class="loader {{loader ? 'show' : 'unshow'}}"></div>
    </div>
</div>