.checkout_popup-container{
    z-index: 10;
    top: 0;
    position: fixed;
    height:100%;
    width:100%;
    color: #382930;
    background: rgba(255 255 255 / 49%);
}
.checkout_popup{
    position: fixed;
    top: calc((100% - 410px)/2);
    left: calc((100% - 800px)/2);
    background: #f1ede6;
    width: 800px;
    margin: auto;
}
.checkout_popup .fa-times{
    position: absolute;
    right: 5px;
    top: 2px;
    width: fit-content;
    font-size: 35px;
    cursor: pointer;
}
.checkout_popup .fa-times:hover{
    color: red;
}
.checkout_popup .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 120px;
    margin: auto;
    height: 120px;
    text-align: center;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.checkout_popup-container .loader-container{
    text-align: center;
}
.checkout_popup-container .loader-container input{
    margin: 5px;
}
.checkout_popup-container .loader-container div{
    font-size: 18;
    font-weight: bold;
    margin: 5px;
}
.checkout_popup-container .loader-container .paymentmethod img{
    cursor: pointer;
}
@media only screen and (max-width: 780px) {
    .checkout_popup{
        position: fixed;
        top: 0;
        left: 0;
        background: #f1ede6;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    /* 
    .modalbox img{
        margin: auto;
    } */
}