.banner{
	text-align: center;
	position: relative;
}
.banner .group-btn{
	position: absolute;
	bottom: 10px;
	left: calc((100% - 142px)/2)
}
.banner .group-btn i{
	color: red;
	font-weight: bold;
	font-size: 50px;
	margin: 0px 10px;
	padding: 0px 10px;
	opacity: 0.7;
	cursor: pointer;
	background: black;
}
.banner .group-btn i:hover{
	opacity: 1;
	border-radius: 10px
}