@import url(https://fonts.googleapis.com/css?family=Raleway:400);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900);
.home .slogan{
	position: relative;
}
.home .slogan .overlay{
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: 1s ease;
	background: rgb(252, 206, 115);

}
.home .slogan .overlay .text{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 80px;
	color: #382930;
	font-family: 'Playfair Display', Arial, sans-serif;
	border-top: 4px solid #382930;
	border-bottom: 4px solid #382930;

}
.home .slogan img{
	display: block;
	width: 100%;
	height: auto;
	opacity: 0;
	transition: 1s ease;
}
.home .slogan .overlay:hover{
	opacity: 0;
}
.home .slogan .overlay:hover ~ img{
	opacity: 1;

}

.home .col-sm-6,.col-sm-3{
	padding: 0px;
	margin: 0px;
}
.newarrival center, .information center{
	font-size: 40px;
	color: #382930;
}
.newarrival center::after, .newarrival center:before, .information center::after, .information center:before{
	background-color: #000;
	content: "";
	display: inline-block;
	height: 2.5px;
	position: relative;
	vertical-align: middle;
	width: 20%;
}
.home .information .information-item{
	border: 1% solid white;
}
.home .information .information-item img{
	width: 99%;
	height: 250px;
}
.information{
	margin-bottom: 5px;
}
.information .information-item .activity-name{
	text-align: center;
    color: #382930;
	width: 99%;
    background: rgb(252, 206, 115);
}
.information .information-item .activity-name:hover{
    color: white;
    background: #382930;
    transition: 0.3s;
    cursor: pointer;
}