.home .group-slogan{
	display: flex;
	justify-content: center;
}
.home .group-slogan .slogan{
	display: flex;
	width: 300px;
	height: 500px;
}
.home .group-slogan .slogan .text{
	margin: auto;
}
.home .group-slogan .slogan img{
	position: absolute;
	width: 300px;
	height: 500px;
	opacity: 0;
}
.home .group-slogan .slogan img:hover{
	animation: goup 1s 1;
	transform-origin: bottom;
	opacity: 1;
	transform: scale(1,1);
}
@keyframes goup{
	0%{
		transform: scale(1,0);
	}
	100%{
		transform: scale(1,1);
		opacity: 1;

	}
}