body{
	background-image: url("images/background.jpg");
}
.navigation{
	width: 80%;
	margin: auto;
	display: flex;
	padding: 10px;
	justify-content: center;
}
.navigation .left{
	right: 0px;
}
.navigation .left a img{
	width: 100px;
}
.navigation .center{
	margin: auto;

}
.navigation .right{
	margin-top: auto;
	margin-bottom: auto;
}
.navigation .right a{
	padding: 10px;
	color: white;
}
.navigation .right a:hover{
	background: lightblue;
	color: black
}
.navigation .right div{
	margin-right: 0px
}
.navigation .right span{
	cursor: pointer;
}
.navigation .right .dropdown span{
	color: white;
}
footer{
	color: black;
	background: gray;
}
footer .social-media{
	text-align: center;
}
footer .social-media a{
	font-size: 30px;
	color: black;
	margin: 4px;
}
footer .social-media a:hover{
	color: white;
}
footer .copyright{

}