body{
	background-image: url("images/background.jpg");
}
.navigation{
	width: 80%;
	margin: auto;
	display: flex;
	padding: 10px;
	justify-content: center;
}
.navigation .left{
	right: 0px;
}
.navigation .left a img{
	width: 100px;
}
.navigation .center{
	margin: auto;

}
.navigation .center a{
	padding: 10px;
	color: white;
}
.navigation .center a:hover{
	background: lightblue;
	color: black
}
.navigation .right{
	margin-top: auto;
	margin-bottom: auto;
}
.navigation .right div{
	margin-right: 0px
}
.navigation .right span{
	cursor: pointer;
}
