.modalbox-container{
    z-index: 10;
    top: 0;
    position: fixed;
    height:100%;
    width:100%;
    color: #382930;
    background: rgba(255 255 255 / 49%);
}
.modalbox{
    position: fixed;
    top: calc((100% - 410px)/2);
    left: calc((100% - 800px)/2);
    background: #f1ede6;
    width: 800px;
    margin: auto;
}
.modalbox img{
    width: 300px;
}
.modalbox .modalbox-info{
    margin-top: 10px;
    
}
.modalbox .modalbox-info .name{
    font-size: 20px;
    font-weight: bold;
}
.modalbox .modalbox-info .price{
    margin: 4px 0 20px 0;
}
.modalbox .modalbox-info .price .original-price{
    color: red;
    font-size: 18px;
    margin-right: 10px;
}
.modalbox .modalbox-info .price .discount{
    text-decoration-line: line-through;
    font-size: 14px;
    line-height: 40px;
}
.modalbox .modalbox-info .description{
    word-break: break-all;
    text-align: justify;
    width: 100%;
}
.modalbox .modalbox-info .size{
    margin: 8px 5px;
}
.modalbox .modalbox-info .size span{
    padding: 2px 6px;
    background-color: #EDBE7A;
}
.modalbox .modalbox-info .material span{
    padding: 2px 6px;
    background-color: #EDBE7A;
}
.modalbox .modalbox-info .material{
    margin: 8px 5px;
}
.modalbox .fa-times{
    position: absolute;
    right: 5px;
    top: 2px;
    width: fit-content;
    font-size: 35px;
    cursor: pointer;
}
.modalbox .fa-times:hover{
    color: red;
}
.modalbox .updatecart{
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    border: 2.5px solid #382930;
    border-radius: 8px;
}
.modalbox .updatecart:hover{
    border: 2.5px solid #eac17c;
    background: #eac17c;
    transition: 0.5s;
}
@media only screen and (max-width: 780px) {
    .modalbox{
        position: fixed;
        top: 0;
        left: 0;
        background: #f1ede6;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .modalbox img{
        margin: auto;
    }
}
.col-sm-6{
    margin: 0px;
}