<link rel="stylesheet" href="shop.css">
<link rel="stylesheet" href="modalbox.css">
<div class="shop">
	<div class="banner"></div>
    <div class="filter">
        <label for="hat">
            <span>hat</span>
        </label>
        <label for="dress">
            <span>dress</span>
        </label>
        <label for="pant">
            <span>pant</span>
        </label>
        <label for="shirt">
            <span>shirt</span>
        </label>
        <label for="shoes">
            <span>shoes</span>
        </label>
        <label for="sweater">
            <span>sweater</span>
        </label>
    </div>
    <div class="hat">
        <input type="radio" name="filter" value="" id="hat" checked>
        <div class="content">
            <div class="product-list">
                <div class="product-item" ng-click="showPopup()">
                    <img class="img1" src="images/banner/banner00.jpg" alt="">
                    <img class="img2" src="images/banner/banner01.jpg" alt="">
                    <div class="product-label">{{freetext.home.BestSeller}}</div>
                    <div class="addtocart">{{freetext.home.addtocart}}</div>
                    <div class="product-info">
                        <div class="name">Gucci</div>
                        <div class="price">100$</div>
                    </div>
                </div>
                <div class="product-item">
                    <img class="img1" src="images/banner/banner00.jpg" alt="">
                    <img class="img2" src="images/banner/banner01.jpg" alt="">
                    <div class="product-label">{{freetext.home.BestSeller}}</div>
                    <div class="addtocart">{{freetext.home.addtocart}}</div>
                    <div class="product-info">
                        <div class="name">Gucci</div>
                        <div class="price">100$</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dress">
        <input type="radio" name="filter" value="" id="dress" >
        <div class="content">
            dress
        </div>
    </div>
    <div class="pant">
        <input type="radio" name="filter" value="" id="pant" >
        <div class="content"></div>
    </div>
    <div class="shirt">
        <input type="radio" name="filter" value="" id="shirt" >
        <div class="content"></div>
    </div>
    <div class="shoes">
        <input type="radio" name="filter" value="" id="shoes" >
        <div class="content">
            
        </div>
    </div>
    <div class="sweater">
        <input type="radio" name="filter" value="" id="sweater">
	<div class="content">
        
    </div>
    </div>
</div>
<div class="modalbox-container {{Popup ? 'unshow' : 'show'}}">
    <div class="modalbox">
    <i class="fa fa-times" aria-hidden="true" ng-click="showPopup()"></i>
    <img src="images\products\ao khoac\aokhoac10(4).jpg" alt="" >
        <div class="modalbox-info">
            <div class="name">Ten</div>
            <div class="price">
                <span class="original-price">$100</span><span class="discount">$200</span>
            </div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, facilis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, facilis?</div>
            <div class="size">
                Size <span>XL</span>
            </div>
            <div class="material">
                Material <span>Coton</span>
            </div>
            <button>Add to Cart</button>
        </div>
    </div>
</div>