.shop .slogan{
	height: 50%;
	position: relative;
}
.shop .slogan .overlay{
	z-index: 1;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: auto;
	opacity: 1;
}
.shop .slogan .overlay .text{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 482%;
	padding: 10px 20px;
	color: black;
	font-family: 'Playfair Display', Arial, sans-serif;

}
.shop .slogan .overlay .text::before{
	position: absolute;
    content: ""; 
    left: 2px; 
    top: 0; 
    bottom: auto; 
    right: 2px; 
    border-width: 9px 9px 0;
    border: 4px solid black;
    padding: 19px; 
    border-bottom: none;
}
.shop .slogan .overlay .text::after{
	position: absolute;
    content: ""; 
    left: 2px; 
    top: auto; 
    bottom: 0; 
    right: 2px; 
    border-width: 9px 9px 0;
    border: 4px solid black;
    padding: 19px; 
    border-top: none;
}

.shop .slogan img{
	display: block;
	width: 100%;
	height: 50%;
	transition: 1s ease;
}
.shop .filter{
    text-align: center;
	margin: 20px 0px;
}
.shop .filter-container{
	width: 40%;
	margin: auto;
}
.shop .filter label{
	color: #382930;
	cursor: pointer;
}
.shop .filter label:hover{
	text-decoration: underline;
}
.shop .content{
    display: none;
}
.shop input{
	display: none;
}
.shop [type=radio]:checked ~ .content{
	display: block;
}
.shop [type=radio]:checked ~ center{
	display: block;
}
.shop center{
	font-size: 40px;
	color: #382930;
	display: none;
}
.shop center::after, .shop center:before{
	background-color: #000;
	content: "";
	display: inline-block;
	height: 2.5px;
	position: relative;
	vertical-align: middle;
	width: 15%;
}